<!DOCTYPE html>
<html lang="en">
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization Registration - ClassGr</title>
    <link rel="stylesheet" href="{% static 'css/create-admin.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'images/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
</head>

<body>
    <div class="container">
        <a href="{% url 'home' %}">
            <h1><i class="fa-solid fa-bell-school"></i></h1>
        </a>
        <h1>Register As Admin</h1>

        <form id="registrationForm">
            <!-- Basic Information -->
            <div class="form-section">
                <input type="text" id="organizationName" name="organizationName" required
                    placeholder="Enter Organization Id" autocomplete="false">
                <input type="text" id="adminName" name="adminName" autocomplete="false"
                    placeholder="Enter Admin Name>>optional">
                <button type="button" class="next nex">Next</button>
            </div>

        </form>
    </div>
</body>

</html>