{% extends 'base.html' %}

{% block pagetitle %}
Create Account | ClassGr
{% endblock %}

{% block link %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/createanaccount.css' %}">
{% endblock %}


{% block content %}
<section class="create-account">
    <div class="container">
        <div class="account-types">
            <div class="account-type">
                <h3>Organization</h3>
                <p>Manage classes, schedules, and members within your organization. Perfect for schools, colleges, and
                    other educational institutions.</p>
                <a href="{% url 'createorganization'%}"><button>Organization</button></a>
            </div>
            <div class="account-type">
                <h3>Student</h3>
                <p>Join classes, view schedules, and stay updated with your coursework. Ideal for students looking to
                    keep track of their academic activities.</p>
                <a href="{% url 'createstudent'%}"><button>Student</button></a>
            </div>
            <div class="account-type">
                <h3>Admin</h3>
                <p>Oversee the platform, manage users, and ensure everything runs smoothly. Suitable for individuals
                    responsible for the overall administration.</p>
                <a href="{% url 'createadmin'%}"><button>Admin</button></a>
            </div>
            <div class="account-type">
                <h3>Instructor</h3>
                <p>Conduct classes, post schedules, and interact with students. Designed for teachers and instructors.
                </p>
                <a href="{% url 'createinstructor'%}"><button>Instructor</button></a>
            </div>
        </div>
    </div>
</section>
</html>

</div>
</div>
{% endblock %}