{% extends 'base.html' %}

{% block pagetitle %}
    Create Account | ClassGr
{% endblock %}

{% block link %}
{% load static %}
{% endblock %}


{% block content %}
<div class="container">
    {% for items in schedules %}
    <div class="schedule">
        <h3 class="cohourt">Cohourt <span>{{items.Students_Cohourt}}</span></h3>
        <p class="date"><strong>Date: <span>{{items.class_date}}</span></strong></p>
        <p class="time">
                <strong>
                    Starts: <span>{{items.Starts}}</span>
                </strong>

                <strong>
                    Ends: <span>{{items.Ends}}</span>
                </strong>
                
        </p>
        <ul>
            <p>Students Should Read: <span class="element"><strong>"{{items.What_Students_Should_Read_About}}"</strong></span></p>
        </ul>
        <ul>
            <p>Student Will Be Taught: <span class="element"><strong>"{{items.What_Will_Be_taught}}"</strong></span></p>
        </ul>
        <p>Instructor: <span><strong>{{items.instructor}}</strong></span></p>
        <h3 class="scheduleends">
            HAPPY CODING <i class="fa-solid fa-computer-classic"></i>
        </h3>
    </div>
    {% endfor %}
</div>
{% endblock %}