{% extends 'base.html' %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reportbug.css'%}">
{% endblock %}

{% block pagetitle %}
    Report Bug | ClassGr
{% endblock %}

{% block content %}
    <div class="container-hero">
        <h1 class="tit"><i class="fa-solid fa-bugs"></i> Report Bug</h1>
        <form action="mailto:akingbadeboluwatife030@gmail.com" method="post" enctype="text/plain" target="_blank" 
        onsubmit="{
            alert('Thanks For Your Feedback')
            this.reset()
        }">
            <input type="text" placeholder="Name" required name="Name" autocomplete="name">
            <input type="text" placeholder="Email" required name="Email" autocomplete="email">
            <input type="text" placeholder="Bug Subject" required name="Subject">
            <textarea name="Message" placeholder="Message" required name="Message" ></textarea>
            <button>Submit</button>
        </form>
        <h1 class="t">We value your feedback</h1>
    </div>
{% endblock %}