section {
    padding: 50px 20px;
    margin-bottom: 20px;
}

#about-intro {
    background-color: #139fd7;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.76), #139fd791), url(../images/about-us-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-intro h1 {
    font-size: 36px;
    margin: 0 0 10px;
}

#about-intro p {
    font-size: 18px;
    margin: 0;
    width: 768px;
}

/* Flexbox Container */

.about-item {
    display: flex;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}

.about-item div {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

.about-item .about-content .h2 {
    font-size: 3em;
    color: #139fd7;
}
.about-item .about-content p{
    font-size: 1.1em;
    line-height: 40px;
    margin-top: 50px;
}

.image{
    background-position: center;
    object-fit: cover;
    aspect-ratio: 1.6;
}

.image.image-1{
    background-image: url(../images/about-us-2.jpg);
}
.image.image-2{
    background-image: url(../images/about-us-3.jpg);
}
.image.image-3{
    background-image: url(../images/about-us-4.jpg);
}

.about-item:nth-child(odd){
    background-color: #139fd7;
}
.about-item:nth-child(odd) p{
    color: white !important;
}

.values-container {
  background-color: #139fd7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;

}

.values-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.values-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.value-item {
  flex: 1 1 calc(33.333% - 40px);
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value-item h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.value-item p {
  margin: 0;
}

.value-number {
  background-color: #137fd7; /* RGB(19, 159, 215) */
  color: white;
  font-size: 24px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}