body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.feature {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
    transform: scale(1.007);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature:nth-child(even) {
    flex-direction: row-reverse;
}

.feature-content {
    flex: 1;
    padding: 20px;
    transition: color 0.3s;
}

.feature-content h2 {
    color: rgb(19, 159, 215);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.feature-content p {
    font-size: 1.1em;
    line-height: 1.6;
}

.feature-image {
    flex: 1;
    padding: 20px;
}

.feature-image img {
    aspect-ratio: 3 !important;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0;
    }

    .feature {
        flex-direction: column-reverse;
    }

    .feature:nth-child(even) {
        flex-direction: column;
    }

    .feature-content {
        text-align: center;
    }

    .feature-content h2 {
        font-size: 1.5em;
    }

}

@media (max-width: 567px) {
    .feature-content h2 {
        font-size: 1.2em !important;
        margin-bottom: 10px;
    }

    .feature-content p {
        font-size: .9em;
        line-height: 1.6;
    }
}