/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
.logo-link {
    display: block;
    margin-bottom: 20px;
    font-size: 3em;
    color: rgb(15, 130, 180);
}

.logo {
    font-size: 3em;
    color: rgb(19, 159, 215);
}
h1 {
    margin-bottom: 20px;
    color: rgb(19, 159, 215);
}

.login-buttons {
    margin-bottom: 20px;
}

.login-btn {
    background-color: rgb(19, 159, 215);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover, .login-btn.active {
    background-color: rgb(15, 130, 180);
}

.login-form {
    display: flex;
    flex-direction: column;
}
.login-form.hidden{
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: rgb(19, 159, 215);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgb(15, 130, 180);
}